{% extends "layout.html" %}
{% block content %}

<div class="col-md-12 text-center">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		{% for message in messages %}
        <div class="alert alert-primary" row="alert" id="message">
            {{ message }}
        </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}

    <form class="text-center" action="/scan" method="POST" enctype="multipart/form-data" id="form">
		<br>
        <label class="btn btn-dark">
            Upload Sample <i class="fa fa-upload"></i>
            <input type="file" name="file" id="file" hidden>
        </label>
    </form>
    <br>
    <p style="opacity: 0.6;"><i>Only .exe files are supported for reversing at the moment.</i></p>
    <br>
    <div id="alerts">
        <!-- Any results from execution are dynamically appended to this specific div -->
    </div>
</div>

<!-- Logs all of the previous scans conducted by the current user -->
<div class="card">
  <div class="card-body">
	<h4>Your Recent Activity</h4>
	<hr>
    <table class="table table-borderless custom-table table-hover table-responsive-lg">
      <thead>
      <tr>
        <th>Timestamp</th>
        <th>UID</th>
        <th>Delete?</th>
      </tr>
      </thead>
      <tbody>
      {% for scan in user_scans %}
      <tr>
        <td>{{ scan.timestamp }}</td>
        <td>{{ scan.uuid }}</td>
        <td>
          <form action="/scan-delete" method="POST">
            <label class="btn btn-warning">
              Delete
            </label>
          </form>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>

<!-- Will be dynamically changed for each job that is currently persisting -->
<div class="card">
  <div class="card-body">
	<h4>Current Jobs</h4>
	<hr>
    <table class="table table-borderless custom-table table-hover table-responsive-lg">
      <thead>
      <tr>
        <th>Timestamp</th>
        <th>UID</th>
        <th>Progress</th>
        <th>Stop?</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for("static", filename="js/boa.js") }}"></script>
{% endblock %}
