{% extends "layout.html" %}
{% block content %}

<div class="col-md-12">
    <h1>what's boa?</h1>
    <br>
    <p><b>boa</b> is a (first of its kind) web-based automated reverse engineering platform that helps extrapolate original and readable Python source from compiled and packed executables. It is useful for hackers and reverse engineers attempt to better understand the functionality of Python-built apps and/or malware. It undergoes the following when an executable sample is processed through its pipeline:</p>
    <br>
    <ul>
        <li><b>Executable Unpacking</b> - parse out resources and code from binaries created with various packers.</li>
        <li><b>Bytecode Decompilation/Patching</b> - decompile and patch (if necessary) Python source from unpacked bytecode.</li>
        <li><b>Deobfuscation</b> - (TODO) attempt to recover readable source from bytecode and source-level obfuscation methods.</li>
        <li><b>Static Analysis</b> - scan relevant source files for detrimental security issues.</li>
        <li><b>Report Generation</b> - generate a user-friendly report on executable.</li>
    </ul>
    <br>
    <p>At the current moment, <b>boa's</b> functionality is still being implemented. PE executables are currently only supported for unpacking and decompilation.</p>
    <br>
    <h1>what can I use it to reverse?</h1>
    <br>
    <ul>
        <li>closed black-box applications</li>
        <li>malware samples</li>
        <li>ctf and wargame challenges</li>
    </ul>
    <br>
    <h1>how much does it cost?</h1>
    <br>
    <p><b>boa</b> has a basic and free version offered open-sourced that can be self-hosted (with a bit of effort). I personally self-host an instance at <a href="https://boa.codemcuh.tech">boa.codemuch.tech</a>, but it does require an invite-only access token for access to the scan functionality.</p><br>
    <p>A paid version with much more functionality is also being implemented for more professional reverse engineering. More information regarding pricing is coming soon.</p>
    <br>
    <h1>what can I do to contribute?</h1>
    <br>
    <p>the open-sourced version of <b>boa</b> is available on <a href="https://github.com/ex0dus-0x/boa">Github</a>. Contributions through reports of issues/bugs, and pull requests fixing issues are encouraged and appreciated to help enhance the project.</p>
    <br>
</div>

{% endblock %}
