{% extends "layout.html" %}
{% block content %}
<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    Welcome to the <b>boa reverse engineering platform</b> - enjoy the new look!
    Read more about the product <a href="#">here</a>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card-deck">
  <div class="card dark-card text-center">
    <div class="card-body welcome-msg">
      <i class="fa fa-files-o"></i>
      <h4 class="card-title">Samples Analyzed</h4>
      <h3 id="sub-count">{{ files_scanned }}</h3>
    </div>
  </div>
  <div class="card dark-card welcome-msg cpointer">
    <div class="card-body text-center">
      <i class="fa fa-file-code-o"></i>
      <h4 class="card-title">Source Files Decompiled</h4>
      <h3 id="sub-count">{{ source_files_recovered }}</h3>
    </div>
  </div>
  <div class="card dark-card welcome-msg cpointer">
    <div class="card-body text-center">
      <i class="fa fa-bug"></i>
      <h4 class="card-title">Security Issues Found</h4>
      <h3 id="sub-count">{{ security_issues }}</h3>
    </div>
  </div>
</div>

{% if current_user.is_authenticated %}
<br>

<div class="card">
  <div class="card-body">
	<h3 class="text-center">Similarity Network</h3>
	<hr>
  </div>
</div>
{% endif %}

<br>

<div class="card">
  <div class="card-body">
	<h3 class="text-center">Available Reports</h3>
	<hr>
	<table class="table table-borderless table-responsive">
	  <thead>
       <tr>
         <th>Timestamp</th>
         <th>Checksum</th>
         <th>Name</th>
         <th>Download</th>
       </tr>
 	  </thead>
	  <tbody>
          {% for query in queries %}
          <tr>
              <td>{{ query.timestamp.split()[0] }}</td>
              <td><a href="/report/{{ query.uuid }}">{{ query.checksum[0:32] }}</a></td>
              <td>{{ query.name }}</td>
              <td><a href="{{ query.zipurl }}"><i class="fa fa-download"></i> Download</a></td>
          </tr>
          {% endfor %}
	  </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" type="text/javascript"></script>

{% endblock %}
