<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>boa - ssssssssssssssss</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="menu">
          <ul>
            <li><a href="{{ url_for("web.home") }}">Home</a></li>
            <li><a href="{{ url_for("web.about") }}">About</a></li>
            <li><a href="{{ url_for("web.scan") }}">Scan</a></li>
            <li><a href="https://github.com/ex0dus-0x/boa">Github</a></li>
          </ul>
        </div>
      </header>
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>

  <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  {% block scripts %}{% endblock %}
</html>
