{% extends "layout.html" %}
{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info text-center" role="alert">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <h4> Login </h4>
            <hr>
            <form class="row-custom-form" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username(size=64) }}
                </div>
                <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(size=64) }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
