{% extends "layout.html" %}
{% block content %}

<div class="col-md-12">
    <h1 style="font-size: 22px;">Scan Report for {{ query.name }}</h1>
    <hr>
    <p><b>Executable Type:</b> Windows PE/EXE</p>
    <p><b>Checksum:</b> <code>{{ query.checksum }}</code></p>
    <p><b>Time Uploaded:</b> {{ query.timestamp }}</p>

    <br>
    <p><a href="{{ query.zipurl }}"><b>Download Results</b></a></p>
    <br>

    <!-- Shows relevant informational results -->
    <h2 style="font-size: 18px;">Informational Results</h2>
    <hr>
    <p>The information listed below represents results from the analysis pipeline.</p>
    <br>

    <h3 style="font-size: 14px;">Python</h3>
    <br>
    <table class="table">
	  <tbody>
        {% for head, item in report["py_info"].items() %}
		<tr>
            <td><b>{{ head }}</b></td>
            <td>{{ item }}</td>
		</tr>
        {% endfor %}
	  </tbody>
	</table>

    <br>

    <h3 style="font-size: 14px;">Reverse Engineering</h3>
    <br>
	<table class="table">
	  <tbody>
        {% for head, item in report["reversing"].items() %}
		<tr>
            <td><b>{{ head }}</b></td>
            <td>{{ item }}</td>
		</tr>
        {% endfor %}
	  </tbody>
	</table>

    <br>
    <h2>Security Audit</h2>
    <hr>

	<div class="accordion" id="auditAccordion">
	  <div class="card">
		<div class="card-header" id="auditHeading1">
			<button class="btn-accordion btn-link" type="button" data-toggle="collapse" data-target="#auditCollapse1" aria-expanded="true" aria-controls="auditCollapse1">
				File: Line:
			</button>
		</div>

		<div id="auditCollapse1" class="collapse" aria-labelledby="auditHeading1" data-parent="#auditAccordion">
		  <div class="card-body">
		  </div>
		</div>
	  </div>
	</div>
	<br><br>
</div>

{% endblock %}
