{% extends "layout.html" %}
{% block content %}

<div class="col-md-12">
    <h1 style="font-size: 22px;">Scan Report for {{ query.name }}</h1>
    <hr>
    <p><b>Executable Type:</b> Windows PE/EXE</p>
    <p><b>Checksum:</b> <code>{{ query.checksum }}</code></p>
    <p><b>Time Uploaded:</b> {{ query.timestamp }}</p>

    <br>
    <p><a href="{{ query.zipurl }}"><b>Download Results</b></a></p>
    <br>

    <!-- Shows relevant informational results -->
    <h2 style="font-size: 18px;">Informational Results</h2>
    <hr>
    <p>Throughout <b>boa</b>'s analysis of your executable, it parses out various informational data from its runtime, which may be useful for the hacker.</p>
    <br>

    <h3 style="font-size: 14px;">Python Information</h3>
    <br>
    <table class="table">
	  <tbody>
        {% for head, item in report["py_info"].items() %}
		<tr>
            <td><b>{{ head }}</b></td>
            <td>{{ item }}</td>
		</tr>
        {% endfor %}
	  </tbody>
	</table>

    <div class="accordion" id="depsAccordion">
	  <div class="card-dark">
		<div class="card-header-dark" id="depsHeading">
			<button class="btn-accordion btn-link" type="button" data-toggle="collapse" data-target="#depsCollapse1" aria-expanded="true" aria-controls="depsCollapse1">
                <p style="font-size: 14px;">> Dependencies Found</p>
			</button>
		</div>
		<div id="depsCollapse1" class="collapse" aria-labelledby="depsHeading1" data-parent="#depsAccordion">
		  <div class="card-body-dark">
            <br>
            {% for dep in report["dependencies"] %}
              <p>{{ dep }}</p>
            {% endfor %}
		  </div>
		</div>
	  </div>
	</div>
    <br><br>

    <h3 style="font-size: 14px;">Reverse Engineering Information</h3>
    <br>
	<table class="table">
	  <tbody>
        {% for head, item in report["reversing"].items() %}
		<tr>
            <td><b>{{ head }}</b></td>
            <td>{{ item }}</td>
		</tr>
        {% endfor %}
	  </tbody>
	</table>

    <div class="accordion" id="srcAccordion">
	  <div class="card-dark">
		<div class="card-header-dark" id="srcHeading">
			<button class="btn-accordion btn-link" type="button" data-toggle="collapse" data-target="#srcCollapse1" aria-expanded="true" aria-controls="srcCollapse1">
                <p style="font-size: 14px;">> Source Files Recovered</p>
			</button>
		</div>
		<div id="srcCollapse1" class="collapse" aria-labelledby="srcHeading1" data-parent="#srcAccordion">
		  <div class="card-body-dark">
            <br>
            {% for file in report["srcfiles"] %}
              <p>{{ file }}</p>
            {% endfor %}
		  </div>
		</div>
	  </div>
	</div>
    <br><br>

    <h1>Security Audit Results</h1>
    <hr>
    <p>Once source is recovered, <b>boa</b> runs audits the code for security issues with static analysis tooling. Here is what it found from your recovered source files.</p>
    <br>
	<div class="accordion" id="auditAccordion">
      {% for result in report["audit"]["results"] %}
	  <div class="card">
		<div class="card-header" id="auditHeading1">
			<button class="btn-accordion btn-link" type="button" data-toggle="collapse" data-target="#auditCollapse1" aria-expanded="true" aria-controls="auditCollapse1">
                <b>File:</b> {{ result["filename"] }}
                <b>Line:</b> {{ result["line_number"] }}
			</button>
		</div>
		<div id="auditCollapse1" class="collapse" aria-labelledby="auditHeading1" data-parent="#auditAccordion">
		  <div class="card-body">
              <code>{{ result["code"] }}</code>
		  </div>
		</div>
	  </div>
      {% endfor %}
	</div>
	<br><br>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
