{% extends "layout.html" %}
{% block content %}

<div class="col-md-12 text-center">
    <p><b>File Scanned:</b> {{ files_scanned }} <b>Source Files Recovered:</b> {{ source_files_recovered }} <b>Security Issues Found:<b> {{ security_issues }} </p>
	<hr>
    <span id="progress">
        <!-- Any changes in progress will be represented by an animated loading bar -->
    </span>
    <br>
    <form class="text-center" action="/scan" method="POST" enctype="multipart/form-data" id="form">
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
            <p id="message"><b>{{ message }}</b></p>
			{% endfor %}
		  {% endif %}
		{% endwith %}
		<br>
        <div class="upload-btn-wrapper text-center">
            <button class="btn-custom">Select File</button>
            <input type="file" name="file" id="file">
        </div>
    </form>
    <br>
    <p style="font-size: 8px; opacity: 0.6;"><i>Only .exe files are supported for reversing at the moment.</i></p>
    <br>
    <div id="statustable">
        <!-- As analysis occurs, the status table will dynamically be updated here -->
	</div>
    <div id="alerts">
        <!-- Any results from execution are dynamically appended to this specific div -->
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/socket.io.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/boa.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
