{% extends "layout.html" %}
{% block content %}

<div class="col-md-7">
    <pre>
       ---_ ......._-_--.
      (|\ /      / /| \  \
      /  /     .'  -=-'   `.
     /  /    .'             )
   _/  /   .'        _.)   /
  / o   o        _.-' /  .'
  \          _.-'    / .'*|
   \______.-'//    .'.' \*|
    \|  \ | //   .'.' _ |*|
     `   \|//  .'.'_ _ _|*|
      .  .// .'.' | _ _ \*|
      \`-|\_/ /    \ _ _ \*\
       `/'\__/      \ _ _ \*\
      /^|            \ _ _ \*
     '  `             \ _ _ \
                       \_
(ASH + VK)
    </pre>
</div>

<div class="col-md-5">
    <h2>boa: a black-box python reverse engineering platform.</h2>
    <br>
    <p>looking for a place to unpack, deobfuscate and dissect your python-compiled executables? have no despair!</p>
	<br>
    <p><b>boa</b> will <s>automatically</s> automagically reverse them all for you, whether its an innocent TKinter app, or the narliest of Python-based malware.</p>
	<br>
	<p>> read more about boa <a href="{{ url_for('about') }}">here</a>.</p>
	<p>> check out the <a href="https://github.com/ex0dus-0x/boa">Github repo</a>.</p>
	<p>> or, start <a href="{{ url_for('scan') }}">scanning</a> now!</p>
</div>

{% endblock %}
