{% extends "layout.html" %}
{% block content %}

<div class="col-md-12">
    <h1 style="font-size: 22px;">Boa Scan Report</h1>
    <hr><br>
    <p><b>Name:</b></p>
    <p><b>Scan UUID:</b> <code>123-456-789</code></p>
    <p><b>SHA-2 Checksum:</b></p>
    <p><b>Time Uploaded:</b></p>

    <br>

    <!-- Shows relevant informational results -->
    <h2 style="font-size: 18px;">Informational Results</h2>
    <hr><br>

    <h3 style="font-size: 14px;">Python</h3>
    <br>
    <table class="table">
	  <tbody>
		<tr>
          <td>Python Version</td>
		  <td>3.6</td>
		</tr>
		<tr>
          <td>Packer/Installer</td>
		  <td>PyInstaller</td>
		</tr>
		<tr>
          <td>Dependencies</td>
		  <td>100</td>
		</tr>
	  </tbody>
	</table>

    <h3 style="font-size: 14px;">Reverse Engineering</h3>
    <br>
	<table class="table">
	  <tbody>
		<tr>
          <td>Archive Files (<code>.pyz</code>) Recovered</td>
		  <td>100</td>
		</tr>
		<tr>
          <td>Bytecode Files (<code>.pyc</code>) Recovered</td>
		  <td>20</td>
		</tr>
		<tr>
		  <td>Relevant Bytecode Files Decompiled</td>
		  <td>12</td>
		</tr>
	  </tbody>
	</table>

    <br>
    <h2>Security Audit</h2>
    <hr>

    <!-- Dropdowns with issue name, severity, and shows patch when clicked -->
	<div id="accordion">
	  <div class="card">
		<div class="card-header" id="headingOne">
		  <h5 class="mb-0">
			<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			  Collapsible Group Item #1
			</button>
		  </h5>
		</div>

		<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
		  <div class="card-body">
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		  </div>
		</div>
	  </div>
	  <div class="card">
		<div class="card-header" id="headingTwo">
		  <h5 class="mb-0">
			<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			  Collapsible Group Item #2
			</button>
		  </h5>
		</div>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
		  <div class="card-body">
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		  </div>
		</div>
	  </div>
	  <div class="card">
		<div class="card-header" id="headingThree">
		  <h5 class="mb-0">
			<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			  Collapsible Group Item #3
			</button>
		  </h5>
		</div>
		<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
		  <div class="card-body">
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		  </div>
		</div>
	  </div>
	</div>

</div>

{% endblock %}
