{% extends "layout.html" %}
{% block content %}

<div class="col-md-12 text-center">
    <pre>
 ______   _______  _______
(  ___ \ (  ___  )(  ___  )
| (   ) )| (   ) || (   ) |
| (__/ / | |   | || (___) |
|  __ (  | |   | ||  ___  |
| (  \ \ | |   | || (   ) |
| )___) )| (___) || )   ( |
|/ \___/ (_______)|/     \|
    </pre>
    <p><b>Executables Scanned:</b> {{ files_scanned }} <b>Source Files Recovered:</b> {{ source_files_recovered }} <b>Security Threats Found:<b> {{ security_threats }} </p>
	<hr>
    <form class="text-center" action="http://localhost:5000/scan" method="POST" enctype="multipart/form-data" id="form">
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
            <p id="message"><b>{{ message }}</b></p>
			{% endfor %}
		  {% endif %}
		{% endwith %}
		<br>
        <div class="upload-btn-wrapper text-center">
            <button class="btn-custom">Select File</button>
            <input type="file" name="file" id="file">
        </div>
    </form>
    <br>
    <p style="font-size: 8px; opacity: 0.6;"><i>Only .exe files are supported for reversing at the moment.</i></p>
    <br>
    <div class="progress">
          <div class="progress-bar progress-bar-striped bg-white" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
	<div id="alerts">
	  <div class="alert alert-dark" role="alert">
          <div class="col-md-3 text-left">
              <p style="font-size: 10px;">Basic File Check</p>
          </div>
	  </div>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

        // automatically submit after uploading a form
        $("#file").change(function() {
            $("#form").submit();
        });

        // connect to the socket.io server
        var socket = io.connect("http://" + document.domain + ":" + location.port);

        // once file is uploaded and page reloaded, check if message has changed, and if so,
        // start the analysis workflow!
        if ($("#message").text().indexOf("Successfully uploaded!") > -1) {
            console.log("Starting analysis...");
            socket.emit("identify");
        }

        // message handler to handle response from service after identifying basic file info
        socket.on("identify_reply", function(msg) {
            console.log(msg);
            socket.emit("unpack");
        });

        // message handler to handle service after it has appropriately unpacked the file and
        // parsed out the dependencies and bytecode source.
        socket.on("unpack_reply", function(msg) {
            console.log(msg);
            socket.emit("decompile")
        });
    });
</script>
{% endblock %}
