{% extends "layout.html" %}
{% block content %}

<div class="col-md-12 text-center">
    <pre>
 ______   _______  _______
(  ___ \ (  ___  )(  ___  )
| (   ) )| (   ) || (   ) |
| (__/ / | |   | || (___) |
|  __ (  | |   | ||  ___  |
| (  \ \ | |   | || (   ) |
| )___) )| (___) || )   ( |
|/ \___/ (_______)|/     \|
    </pre>
    <p><b>Executables Scanned:</b> {{ files_scanned }} <b>Source Files Recovered:</b> {{ source_files_recovered }} <b>Security Threats Found:<b> {{ security_threats }} </p>
	<hr>
    <span id="progress">
        <!-- Any changes in progress will be represented by an animated loading bar -->
    </span>
    <br>
    <form class="text-center" action="/scan" method="POST" enctype="multipart/form-data" id="form">
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
            <p id="message"><b>{{ message }}</b></p>
			{% endfor %}
		  {% endif %}
		{% endwith %}
		<br>
        <div class="upload-btn-wrapper text-center">
            <button class="btn-custom">Select File</button>
            <input type="file" name="file" id="file">
        </div>
    </form>
    <br>
    <p style="font-size: 8px; opacity: 0.6;"><i>Only .exe files are supported for reversing at the moment.</i></p>
    <br>
    <div id="statustable">
        <!-- As analysis occurs, the status table will dynamically be updated here -->
	</div>
    <div id="alerts">
        <!-- Any results from execution are dynamically appended to this specific div -->
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">

    $(document).ready(function() {

        // automatically submit after uploading a form
        $("#file").change(function() {
            $("#form").submit();
        });


        // initializes a new status table to display results in
        function initTable() {
            $("#statustable").append(`
            <br>
            <table id="table" class="table order-list">
			    <thead>
				<tr>
                    <td><p style="font-size: 10.5px;">Event</p></td>
                    <td><p style="font-size: 10.5px;">Status</p></td>
                    <td><p style="font-size: 10.5px;">Output</p></td>
				</tr>
			    </thead>
			    <tbody>
				    <tr>
				    </tr>
			    </tbody>
		    </table>`)
        }

        // given an initialized status table, append a new row with a key and value
        function updateTable(key, stat, msg) {
            var newRow = $("<tr>");
            var cols = "";
            cols += "<td><p style='font-size: 8.5px; font-weight: normal;'>" + key + "</p></td>"
            if (stat) {
                cols += "<td>✔️</td>"
            } else {
                cols += "<td>X</td>"
            }
            cols += "<td><p style='font-size: 8.5px; font-weight: normal;'>" + msg + "</p></td>"
            newRow.append(cols)
            $("table.order-list").append(newRow);
        }


		// convenient helper to create or update a loading bar during the scan
        function loadingBar(value) {

            // if the loading bar exists, update its values
			if ($("#bar").length) {
				$("#bar").css("width", value + "%");
				$("#bar").attr("aria-valuenow", value);

            // otherwise create the bar
			} else {
                bar_html = `
                <div class="progress" id="progress">
                    <div class="progress-bar progress-bar-striped bg-white" role="progressbar" style="width: ` + value +
                `%" aria-valuenow="` + value +
                `" aria-valuemin="0" aria-valuemax="100" id="bar">
                    </div>
                </div>
                <br>
                `
                $("#progress").append(bar_html)
			}
        }


        // convenient helper to help create a new alert with a message
        function newAlert(msg) {
            $("#alerts").append(`
            <div class="alert alert-dark" role="alert">
                <p style="font-size: 10.5px;">` + msg + `</p>
            </div>
            <br>
            `);
        }


        // connect to the socket.io server
        var socket = io.connect("http://" + document.domain + ":" + location.port);

        // once file is uploaded and page reloaded, check if message has changed, and if so,
        // create a loading bar and start the analysis workflow!
        // TODO: maybe kinda hacky, is there a better way?
        if ($("#message").text().indexOf("Successfully uploaded!") > -1) {
			loadingBar(0);
            initTable();
            socket.emit("identify");
        }


        socket.on("identify_reply", function(resp) {
            var header = "Packer Detection";
            if (resp["continue"] != false) {
                // update the loading bar
			    loadingBar(25);

                // append a new row to the status table
                msg = "Identified: " + resp["packer"]
                updateTable(header, true, msg);

                // continue execution and actually unpack
                socket.emit("unpack");
            } else {
                updateTable(header, false, "Unknown Packer");
                newAlert("Cannot continue execution, unable to identify packer.");
            }
        });


        socket.on("unpack_reply", function(resp) {
            var header = "Executable Unpacking";
            if (resp["continue"]) {
                // update the loading bar
                loadingBar(50);

                // append a row with the number of decompilable bytecode files recovered
                msg = resp["extracted"] + " .pyc bytecode files extracted"
                updateTable(header, true, msg);

                // continue execution and start decompiling the relevant bytecode
                socket.emit("decompile");
            } else {
                updateTable(header, false, resp["error"]);
                newAlert("Cannot continue execution, error during unpacking.");
            }
        });


        socket.on("decompile_reply", function(resp) {
            var header = "Bytecode Decompilation";
            if (resp["continue"]) {
                loadingBar(75);
                updateTable(header, false, "Not supported yet!");
                socket.emit("finalize");
            } else {
                updateTable(header, false, resp["error"]);
                newAlert("Cannot continue execution, failed during decompilation.");
            }
        });
    });
</script>
{% endblock %}
